body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: rgb(0, 132, 255);
    height: 3rem;
    margin-bottom: 10%;
}

.header_text{
    text-align: center;
    padding: 10px;
    margin: 0;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.main{
    width: 50%;
    margin: auto;
    text-align: left;
}

.scanning-img{
    border-radius: 18rem;
    float: right;
    width: 35%;
    margin-left: 10%;
}

.inputs{
    width: 50%;
    height: 2rem;
}

.submit{
    background-color: rgb(20, 144, 211);
    color:white;
}

.submit:hover{
    background-color: rgb(14, 74, 106);
}

#qrimg{
    display: block;
    margin: 1% auto;
    padding: 2%;
}
